indent_style = tab # tabulacion 
indent_size = lf # final de la linea es lf  
insert_final_newline = true # al final de cualquier archivo siempre se añade un salto de linea
tab_width = 2
charset = utf-8
trim_trailing_whitespace = true # quita los espacios al final de cada linea
